.title {
    
    color: white;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}
body {
 background-image: linear-gradient(black, white);
 background-repeat: no-repeat;
}

.tomes {
    float: left;
    width: 33.33%;
    align-items: center;
    
}

.tome-image{
    background-image: radial-gradient(white 40%,black );
    border-radius: 100%;
    align-items: center;
}

.narrative {
    background-image: radial-gradient(  white 40%, gray);
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}