.title {
    
    color: white;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}
body {
 background-image: linear-gradient(black, white);
 background-repeat: no-repeat;
}

div.tomes {
    
    width: 33.33%;
    display: inline;
    float: none;
    margin-left: 20px;
    
    
}
div {
    align-items: center;
}

.tome-image{
    background-image: radial-gradient(white 40%,black );
    border-radius: 100%;
    align-items: center;
   
    
}

.narrative {
    background-image: radial-gradient(  white 40%, gray);
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}

.tome-text {
    color: white;
    text-align: center;
    
}

.crab-claw-page {
    background-image: radial-gradient(rgb(212, 212, 166), rgb(50, 49, 49));
}
.list {

    border-radius: 25px;    
    
}   

.list .item {
    padding-bottom: 10px;
    padding-top: 10px;
    
    
    
    
}

.crab-claw-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

ul li:hover {
    font-size: larger;
    color: yellow;
}

ol li:hover {
    font-size: larger;
    color: yellow;
}

.rose-page-bottom {
    
    float: left;
    width: 33.33%;
    margin: auto;
    
}
.right-rose-image {
    float: right;
}

#close-text {
    text-align: center;
    margin-top: 50%;
    
    
}

.food-title{
    text-align: center;
    font-size: 30px;
    color: rgb(249, 229, 10);
    
    outline-style: ridge;
    margin-right: 25%;
    margin-left: 25%;
}